/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.fdn-header-drawer {
	display: flex;
	justify-content: space-between;
	position: relative;
	height: inherit;
	overflow: hidden;
	transition: var(--drawer-animation-length) height;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	padding: 0 0.5rem;
	box-shadow: 0px 1px 0px 0px var(--fdn-border-colour);
}

.fdn-header-drawer {
	height: 0px;
	outline: none;
}

@media (min-width: 52rem) {
	.fdn-header-drawer {
		display: none;
	}
}

.fdn-header-drawer:target {
	height: var(--drawer-height);
	scroll-margin-top: 4.5rem;
	overflow: visible;
}

.fdn-header-drawer-container {
	display: flex;
	width: 100%;
}

.fdn-header-drawer-container .fdn-header-items {
	flex-direction: column;
	align-items: flex-start;
	gap: 0;
	justify-content: flex-start;
	transition: 0s visibility var(--drawer-animation-length);
	visibility: hidden;
	overflow: hidden;
}

.fdn-header-drawer:target .fdn-header-items {
	transition: 0s visibility 0s;
	visibility: visible;
}

.fdn-header-drawer-container .fdn-header-items li {
	width: 100%;
}

.fdn-header-drawer-container .fdn-header-item {
	width: 100%;
	height: 4rem;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
}

.fdn-header-drawer-container .fdn-header-item::after {
	content: none;
}

.fdn-header-drawer:target #menu-close {
	display: flex;
	position: absolute;
	right: var(--close-right, 0.5rem);
	top: calc(-4.5rem - 3px);
}

#menu-close {
	height: fit-content;
	margin-block-start: 1rem;
	display: none;
	background-color: var(--fdn-colours-white);
}

.fdn-header-drawer-container #donate-button {
	margin-block-start: 0.5rem;
}
