/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.donate-app {
	width: 100%;
	--donate-app-gutters: calc((100% - var(--fdn-content-width)) / 2);
	scroll-behavior: smooth;
}

.donate-aside {
	max-width: 25rem;
	padding-inline-end: 1.5rem;
}

.donate-aside,
.fdn-aside-container {
	display: flex;
	flex-direction: column;
	gap: 10rem;
}

.donate-aside .fdn-aside-header {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.donate-aside-container {
	display: flex;
	background-color: var(--fdn-colours-white);
	padding-inline-start: var(--donate-app-gutters);
	padding-block: 4rem;
}

.donate-flow-container {
	display: flex;
	background-color: var(--fdn-bg-default);
	flex: 1;
	width: 100%;
	padding-inline-end: var(--donate-app-gutters);
	padding-block: 4rem;
	padding-inline-start: 3rem;
	flex-direction: column;
	gap: 3rem;
}

.donate-card-container {
	padding-inline-start: calc(42px + 26px);
}

.donate-amounts-grid {
	display: grid;
	grid-template-columns: repeat(var(--grid-cols, 4), 1fr);
	gap: 1rem;
}

.donate-amounts-grid.large {
	--grid-cols: 3;
}

.donate-amounts-grid #custom_amount {
	grid-column: span var(--grid-cols, 2);
}

.donate-aside-text-container {
	display: flex;
	gap: 0.75rem;
	flex-direction: column;
}

.donate-aside-text-container h3 {
	line-height: 1.25;
}

.donate-aside-text-container p {
	line-height: 1.75;
}

.donate-flow-container .fdn-card {
	scroll-margin-top: calc(4.5rem + 3rem);
}

.no-js .donate-amounts-grid .fdn-button {
	display: none;
}
