/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Utility */
@import url("utils/a11y.css");
@import url("utils/reset.css");
@import url("utils/fonts.css");

/* Components */
@import url("components/navbar/index.css");
@import url("components/main.css");
@import url("components/error.css");
@import url("components/icons.css");
@import url("components/button/index.css");
@import url("components/flex/index.css");

/* Globals */
:root {
	--colours-red: hsl(0, 82%, 48%);
	--colours-orange: hsl(25, 99%, 44%);
	--colours-yellow: hsl(45, 100%, 52%);
	--colours-yellow-dark: hsl(45, 100%, 27%);
	--colours-green: hsl(120, 97%, 27%);
	--colours-lime: hsl(145, 76%, 54%);
	--colours-blue: hsl(212, 99%, 38%);
	--colours-purple: hsl(266, 65%, 49%);
	--colours-pink: hsl(295, 65%, 49%);
	--colours-black: hsl(0, 0%, 7%);
	--colours-white: hsl(255, 100%, 100%);
	--colours-pblack: hsl(0, 0%, 0%);
	--colours-gray1: hsl(217, 100%, 97%);
	--colours-gray2: rgb(222, 228, 236);
	--colours-gray3: hsl(217, 16%, 78%);
	--colours-gray4: hsl(216, 10%, 60%);
	--colours-gray5: hsl(217, 11%, 42%);
	--colours-gray6: hsl(218, 20%, 24%);
	--colours-gray7: hsl(216, 100%, 5%);
	--fonts-system: -apple-system, BlinkMacSystemFont, "Segoe UI",
		Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji";
	--fonts-heading: Satoshi, var(--fonts-system);
	--fonts-headingVar: Satoshi var, var(--fonts-system);
	--fonts-body: Inter, var(--fonts-system);
	--fonts-bodyVar: Inter var, var(--fonts-system);
	--drawer-height: 20.5rem;
	--drawer-animation-length: 0.3s;
}

html {
	scrollbar-color: var(--colours-gray4) var(--colours-white);
}

body {
	color: var(--colours-black);
	background-color: var(--colours-white);
	font-family: var(--fonts-body);
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
a.fdn-button,
button {
	font-family: var(--fonts-heading);
}

@supports (font-variation-settings: normal) {
	body {
		font-family: var(--fonts-bodyVar);
	}

	h1,
	h2,
	h3,
	h4,
	h4,
	h5,
	h6,
	a.fdn-button,
	button {
		font-family: var(--fonts-headingVar);
	}
}

:focus-visible:not(.fdn-focus-none) {
	box-shadow: 0px 0px 0px 0.25rem var(--colours-white);
	outline: 2px solid var(--colours-blue);
	outline-offset: 0.25rem;
}

a {
	color: var(--colours-blue);
}

[hidden] {
	display: none !important;
}

hr {
	width: 1px;
	margin: 0;
	border: 0;
	color: inherit;
	margin-block: 0;
	margin-inline: 0;
	background-color: var(--colours-gray2);
}
