{% extends "_head.html" %}

{% block title %}Design{% endblock %}

{% block content %}
<section class="fdn-content">
    <div class="fdn-content-container">
        <h1>{{ ctx.l.str("language-full-name") }}</h1>
        <a href="#">hello world</a>
        <br><br>

        <a class="fdn-button blue sm" href="#">Small</a>
        <a class="fdn-button blue md" href="#">Medium [D]</a>
        <a class="fdn-button blue lg" href="#">Large</a>

        <a class="fdn-button blue has-icon" href="#">
            <i class="fdn-icon menu">menu</i>
        </a>

        <a class="fdn-button secondary has-icon" href="#">
            <i class="fdn-icon menu">menu</i>
        </a>

        <a class="fdn-button red" href="#">Red</a>
        <a class="fdn-button orange" href="#">Orange</a>
        <a class="fdn-button yellow" href="#">Yellow</a>
        <a class="fdn-button green" href="#">Green</a>
        <a class="fdn-button lime" href="#">Lime</a>
        <a class="fdn-button blue" href="#">Blue</a>
        <a class="fdn-button purple" href="#">Purple</a>
        <a class="fdn-button pink" href="#">Pink</a>
        <a class="fdn-button black" href="#">Black</a>
        <a class="fdn-button white" href="#">White</a>
        <a class="fdn-button gray1" href="#">Gray 1</a>
        <a class="fdn-button gray2" href="#">Gray 2</a>
        <a class="fdn-button gray3" href="#">Gray 3</a>
        <a class="fdn-button gray4" href="#">Gray 4</a>
        <a class="fdn-button gray5" href="#">Gray 5</a>
        <a class="fdn-button gray6" href="#">Gray 6</a>
        <a class="fdn-button gray7" href="#">Gray 7</a>
    </div>
</section>
{% endblock %}