.prompt {
  display: flex;
  flex-direction: column;
  text-align: center;

  justify-content: center;
  align-items: center;

  height: 70vh;
}

.prompt form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
