/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.fdn-navigation-items {
	display: flex;
	align-items: center;
	justify-content: center;
	order: 0;
	flex: 1;
	gap: 2.5rem;
}

@media (max-width: 52rem) {
	.fdn-navigation-content .fdn-navigation-items {
		display: none;
	}
}

@media (max-width: 40rem) {
	.fdn-navigation-content .fdn-navigation-end #donate-button-item {
		display: none;
	}
}

.fdn-navigation-item {
	align-items: center;
	height: 4.5rem;
	--border-radii: 0;
	--spacing-x: 0;
	--text-colour: var(--fdn-colours-black);
	--text-hover-colour: var(--fdn-text-secondary-colour);
}
