<section id="landing-introduction-cta" class="fdn-content">
    <div class="fdn-content-container">
        <div class="fdn-stack h gap-xxl">
            <div>
                <h1>{{ ctx.l.str("marketing-introduction-cta-title")|linebreaksbr|safe }}</h1>
            </div>
            <div class="fdn-stack v y-between flex-1">
                <p class="text-right">{{ ctx.l.str("marketing-introduction-cta-subtitle")|linebreaksbr|safe }}</p>

                {{ "<p>sex</p>" }}

                <div class="fdn-stack h gap-md x-end">
                    <a class="fdn-button blue" href="{{ ctx.href("/browser") }}">
                        {{ ctx.l.str("marketing-introduction-cta-explore-btn") }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>