/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("a11y.css");
@import url("drawer.css");
@import url("items.css");
@import url("logo.css");

.fdn-navigation {
	width: 100%;
	min-height: 4.5rem;
	background-color: var(--colours-white);
	border-bottom: 1px solid var(--colours-gray3);
}

.fdn-navigation-container {
	margin: 0 auto;
	padding: 0 0.5rem;
	max-width: 64rem;
	height: inherit;
}

@media (min-width: 25rem) {
	.fdn-navigation-container {
		padding: 0 1rem;
	}
}

@media (min-width: 15rem) {
	.fdn-navigation-container {
		padding: 0 1.5rem;
	}
}

@media (min-width: 80rem) {
	.fdn-navigation-container {
		max-width: 80rem;
	}
}

.fdn-navigation-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 4.5rem;
	gap: 1.5rem;
}

.fdn-navigation-content > * {
	flex: 1 1 0%;
}

.fdn-navigation-content hr {
	height: calc(4.5rem / 2);
}

.fdn-navigation-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

#menu-button {
	display: flex;
	align-items: center;
	color: var(--colours-black);
	height: 4.5rem;
}

@media (min-width: 52rem) {
	#menu-button {
		display: none;
	}
}
