doctype html
html(lang='en')
 head
   #import(components/header.pug)
   #import(styles/home.scss)
 body
   h1 Hello, %{landing-page-title}!
   div
    marquee(class="cool" width="60%" direction="right" height="100px") LOl!!!
