:root {
  --color: var(--white);
  --color-secondary: var(--gray-6);
  --color-disabled: var(--gray-5);
  --background-color: var(--gray-1);
  --background-color-secondary: var(--gray-2);
  --background-sexy: linear-gradient(
      0deg,
      var(--background-color-secondary) 45%,
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(circle at 100% 0%, var(--purple) 10%, var(--red) 55%);
  --background-dots: rgba(128, 128, 128, 0.5);
  --background-overlay: #ffffff14;
  --border: var(--gray-3);

  --landing-text-background: linear-gradient(
    90deg,
    hsla(0, 100%, 76%, 1) 0%,
    hsla(21, 97%, 74%, 1) 30%,
    hsla(60, 100%, 75%, 1) 56%,
    hsla(115, 100%, 80%, 1) 100%
  );
  --shadow: 0 6.4px 14.4px 0 rgba(255, 242, 242, 0.13),
    0 1.2px 3.6px 0 rgba(255, 255, 255, 0.11);

  --btn-primary: var(--white);
  --btn-secondary: var(--gray-2);

  --btn-primary-icon: invert(1);
  --btn-secondary-icon: invert(1);

  --btn-primary-color: var(--black);
  --btn-secondary-color: var(--white);

  --btn-primary-color-hover: var(--white);

  --btn-primary-hover: transparent;
  --btn-secondary-hover: transparent;

  --nav-background-color: #18171da9;
  --nav-hover: var(--gray-5);

  --text-primary: var(--neon);
}

::selection {
  background-color: rgb(255, 0, 234) !important;
}
