.about-sidebar {
  width: 290px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 28px;
  min-width: 290px;
}

.about-sidebar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-sidebar > ul > li > .btn {
  width: 100%;
  margin: 2px 0;
}

.about-sidebar > ul > li > .btn > a {
  width: unset;
  justify-content: flex-start;
}

.about-sidebar > ul > li > .btn-text:hover,
.about-sidebar > ul > li > .btn-secondary:hover {
  color: var(--nav-hover) !important;
  opacity: 1;
  text-decoration: none;
}
