:root {
  --red: #ff4141;
  --orange: #ff7a00;
  --yellow: #ffd600;
  --green: #2cc74e;
  --neon: #00ffb7;
  --azure: #256ef5;
  --blue: #3250ed;
  --purple: #a451fc;
  --pink: #bd00ff;
  --black: #191a1c;
  --gray-1: #18171d;
  --gray-2: #1a1a22;
  --gray-3: #343434;
  --gray-4: #737373;
  --gray-5: #b6b6b6;
  --gray-6: #eaeaea;
  --gray-7: #fbfbfb;
  --white: #ffffff;

  --theme-change-transition: background-color 0s ease, border-color 0s ease;

  --golden-ratio-fr: 1.61803fr;
}

@import url(./themes/light.css) (prefers-color-scheme: light);
@import url(./themes/dark.css) (prefers-color-scheme: dark);
