:root {
  --red: #ff4141;
  --orange: #ff7a00;
  --yellow: #ffd600;
  --green: #2cc74e;
  --neon: #00ffb7;
  --azure: #256ef5;
  --blue: #3250ed;
  --purple: #a451fc;
  --pink: #bd00ff;
  --black: #191a1c;
  --gray-1: #18171d;
  --gray-2: #1a1a22;
  --gray-3: #343434;
  --gray-4: #737373;
  --gray-5: #b6b6b6;
  --gray-6: #eaeaea;
  --gray-7: #fbfbfb;
  --white: #ffffff;

  --theme-change-transition: background-color 0s ease, border-color 0s ease;

  --golden-ratio-fr: 1.61803fr;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: var(--black);
    --color-secondary: var(--gray-2);
    --color-disabled: var(--gray-4);
    --background-color: var(--white);
    --background-color-secondary: var(--gray-7);
    --background-sexy: linear-gradient(to top, var(--background-color-secondary) 50%, #ffffff61 100%), linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    --background-dots: rgba(128, 128, 128, 0.5);
    --background-overlay-color: #00000014;
    --border: var(--gray-6);

    --landing-text-background: linear-gradient(90deg, hsla(0, 100%, 71%, 1) 0%, rgb(255, 116, 51) 30%, rgb(255, 219, 13) 56%, rgb(87, 235, 74) 100%);
    --shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);

    --btn-primary: var(--black);
    --btn-secondary: var(--white);

    --btn-primary-icon: invert(1);
    --btn-secondary-icon: invert(0);

    --btn-primary-color: var(--white);
    --btn-secondary-color: var(--black);

    --btn-primary-hover: transparent;
    --btn-secondary-hover: transparent;

    --nav-background-color: #ffffffb0;
    --nav-hover: var(--azure);

    --text-primary: var(--azure);
  }

  ::selection {
    background-color: rgb(0, 255, 173) !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--white);
    --color-secondary: var(--gray-6);
    --color-disabled: var(--gray-5);
    --background-color: var(--gray-1);
    --background-color-secondary: var(--gray-2);
    --background-sexy: linear-gradient(0deg,var(--background-color-secondary) 45%,hsla(0,0%,100%,0.0)),radial-gradient(circle at 100% 0%, var(--purple) 10%, var(--red) 55%);
    --background-dots: rgba(128, 128, 128, 0.5);
    --background-overlay: #ffffff14;
    --border: var(--gray-3);

    --landing-text-background: linear-gradient(90deg, hsla(0, 100%, 76%, 1) 0%, hsla(21, 97%, 74%, 1) 30%, hsla(60, 100%, 75%, 1) 56%, hsla(115, 100%, 80%, 1) 100%);
    --shadow: 0 6.4px 14.4px 0 rgba(255, 242, 242, 0.13),0 1.2px 3.6px 0 rgba(255, 255, 255, 0.11);

    --btn-primary: var(--white);
    --btn-secondary: var(--gray-2);

    --btn-primary-icon: invert(1);
    --btn-secondary-icon: invert(1);

    --btn-primary-color: var(--black);
    --btn-secondary-color: var(--white);

    --btn-primary-color-hover: var(--white);

    --btn-primary-hover: transparent;
    --btn-secondary-hover: transparent;

    --nav-background-color: #18171da9;
    --nav-hover: var(--gray-5);

    --text-primary: var(--neon);
  }

  ::selection {
    background-color: rgb(255, 0, 234) !important;
  }
}
