.features > div > h3 {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.9;
}

.features > div > p {
  font-size: 16px;
  opacity: 0.5;
  margin-top: 12px;
}

.feature-card {
  padding: 42px;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: 0.3s box-shadow ease-in-out, 0.3s border ease-in-out;
}

.feature-card:hover {
  box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22),
    0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
  border: 1px solid var(--border);
  cursor: default;
}

@media (prefers-color-scheme: dark) {
  .feature-sparkles {
    filter: brightness(150%) contrast(2) hue-rotate(-10deg);
  }
}
