@media screen and (max-width: 1330px) {
  .footer-list-group {
    justify-self: auto;
    grid-column: span 2;
  }
}

@media screen and (max-width: 830px) {
  .footer-list-group {
    justify-self: auto;
    grid-column: span 2;
  }
}

@media screen and (max-width: 666px) {
  .footer-container {
    padding-left: 42px;
    flex-direction: column;
  }

  .footer-list {
    grid-template-columns: repeat(2, 1fr) !important;
    margin-top: 62px !important;
    margin-left: 0 !important;
  }

  .footer-list-group {
    justify-self: auto !important;
    grid-column: span 1 !important;
  }

  .footer-info {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .footer-info > .logo-text {
    flex-direction: column;
  }

  .footer-info > .logo-text > div {
    margin-top: 1.5rem;
  }
}

.footer > .footer-container > div > a > .dot-icon {
  transition: opacity 0.3s ease 0s;
}

.footer > .footer-container > div > a > .dot-icon:hover {
  opacity: 0.7;
}

.footer {
  background-color: var(--nav-background-color);
  border-top: 1px solid var(--border);
}

.footer-container {
  display: flex;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 1300px;
}

.logo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: var(--color-disabled);
  margin-top: 24px;
  justify-content: space-between;
  opacity: 1;
}

.logo-text > div > a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-text > div > a:hover {
  opacity: 0.5;
}

.footer-list {
  margin-left: 190px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-list-group {
  grid-column: span 1;
  height: 180px;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
}

.footer-list-group > h1 {
  font-size: 15px;
  display: flex;
  font-weight: 600;

  color: var(--color);

  margin-bottom: 12px;
}

.footer-list-group > a {
  color: var(--color-disabled);
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 15px;
  transition: 0.2s opacity;
}

.footer-list-group > a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.footer-socials {
  display: flex;
  margin-left: 2rem;
}

.footer-socials > a {
  width: 24px;
  height: 24px;
  margin-right: 28px;
  color: inherit;
}

.footer-socials-header-override {
  margin-right: 0.5rem;
}

.footer-socials > a:hover {
  opacity: 0.5;
  cursor: pointer;
}
