.layout p {
  color: var(--color-secondary);
}

@media (min-width: 900px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}

.grid button {
  margin-right: 16px;
  margin-bottom: 16px;
}

.section {
  margin: 0 auto;

  max-width: 48rem;
  text-align: center;

  margin-bottom: 64px;
  margin-top: 10rem;
}

.section > p {
  max-width: 30rem;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .features {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 500px) {
  .features {
    grid-template-columns: 1fr !important;
  }
  .landing-showoff {
    display: none;
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 54px;
}

.features p {
  margin-top: 6px;
}

.features img {
  margin-bottom: 20px;
}

.grid > div:first-of-type {
  margin-top: 8rem;
  line-height: 1.75rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.grid > div:first-of-type > h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 6rem;
  user-select: none;
}

.grid > div:first-of-type > p {
  font-size: 22px;
  font-weight: 300;
  max-width: 700px;
  color: var(--color-disabled);
}

@media only screen and (max-width: 900px) {
  .grid > div:first-of-type {
    margin-top: 6.5rem;
    text-align: center;
    padding: 0 1.5rem;
  }

  .grid > .landing-showoff {
    display: none;
  }

  .grid-btns {
    justify-content: center;
  }
}

.grid-btns {
  margin-top: 48px;
  display: flex;
}

.grid-btns > a:first-of-type {
  margin-right: 22px;
}

@media only screen and (min-width: 800px) {
  .landing-showoff {
    display: flex;
    opacity: 0;
    transition: 0.15s opacity ease-in-out 0.2s;
    width: 100%;
    justify-content: center;
    margin: 4rem 0;
  }
}

@media only screen and (max-width: 799px) {
  .landing-showoff {
    display: none;
  }
}

.landing-showoff .ls-ready {
  opacity: 1;
}

#browser-ui {
  position: absolute;
  z-index: 50;
  user-select: none;
  user-drag: none;
  border-radius: 10px;
  width: 1000px;
  height: inherit;
  box-shadow: var(--shadow);
}

#browser-wallpaper {
  object-fit: cover;
  object-position: center;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 51.56%,
    rgba(0, 0, 0, 0.65) 100%
  );
  border-radius: 9px 9px 6px 6px;
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132),
    0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
  user-select: none;
  user-drag: none;
  width: 1000px;
  height: 612px;
}

.landing-super-title {
  background-image: var(--landing-text-background);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (prefers-color-scheme: light) {
  .landing-super-title {
    color: #00000030;
  }
}

.hero-primary {
  height: 100vh;
  margin-top: calc(-102px);
  max-height: 1200px;
}
