.layout p {
  color: var(--color-secondary);
}

@media (min-width: 900px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}

.grid button {
  margin-right: 16px;
  margin-bottom: 16px;
}

.section {
  margin: 3rem auto;

  max-width: 48rem;
  text-align: center;
}

.section > p {
  max-width: 30rem;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .features {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 500px) {
  .features {
    grid-template-columns: 1fr !important;
  }
  .landing-showoff {
    display: none;
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 54px;
}

.features p {
  margin-top: 6px;
}

.features img {
  margin-bottom: 20px;
}

.grid > div:first-of-type {
  margin-top: 12rem;
  line-height: 1.75rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1150px) {
  .grid > div:first-of-type {
    margin-top: 6.5rem;
    text-align: center;
    padding: 0 1.5rem;
  }

  .grid > .landing-showoff {
    display: none;
  }

  .grid-btns {
    justify-content: center;
    flex-direction: column;
  }
}

.grid-btns {
  margin-top: 48px;
  display: flex;
}

.grid-btns > a:first-of-type {
  margin-right: 22px;
}

@media only screen and (min-width: 800px) {
  .landing-showoff {
    display: flex;
    opacity: 0;
    transition: 0.15s opacity ease-in-out 0.2s;
    width: 100%;
    justify-content: center;
    margin: 4rem 0;
  }
}

@media only screen and (max-width: 1800px) {
  .landing-showoff {
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
  .landing-showoff {
    transform: translateY(-14vmin);
  }
}

.landing-showoff .ls-ready {
  opacity: 1;
}

#browser-ui {
  position: absolute;
  z-index: 50;
  user-select: none;
  user-drag: none;
  border-radius: 10px;
  width: 1000px;
  height: inherit;
  box-shadow: var(--shadow);
  max-width: 1703px;
}

#browser-wallpaper {
  object-fit: cover;
  object-position: center;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 51.56%,
    rgba(0, 0, 0, 0.65) 100%
  );
  border-radius: 9px 9px 6px 6px;
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132),
    0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
  user-select: none;
  user-drag: none;
  width: 1000px;
  height: 612px;
}

.landing-super-title {
  color: var(--white);
  font-size: 10vmin;
  line-height: 1em;
  letter-spacing: -0.035em;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Theme overrides */

body.dothq-is-home {
  background-color: var(--white);
}

body.dothq-is-home .btn {
  border: none !important;
}

body.dothq-is-home .btn-primary {
  background-color: var(--white) !important;
  color: var(--black) !important;
  transition: 0.2s opacity;
}

body.dothq-is-home .btn-primary:hover {
  opacity: 0.7;
}

body.dothq-is-home .btn-secondary {
  background-color: transparent !important;
  color: var(--white) !important;
}

body.dothq-is-home .hero-primary {
  background-color: var(--gray-6);
}

body.dothq-is-home .hero-container {
  background-color: var(--white);
}

body.dothq-is-home nav {
  margin-top: -100px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  z-index: 1000;
}

body.dothq-is-home ::selection {
  background: rgba(137, 220, 245, 0.47) !important;
}

body.dothq-is-home .dot-icon {
  background-color: white;
}

body.dothq-is-home .grid-btns {
  transform: scale(1.25);
}

body.dothq-is-home .grid > div:first-of-type > p {
  color: var(--white);
  opacity: 1;
  max-width: calc(100% - 32vmin);
  font-size: 1.6rem;
  line-height: 1.35em;
  font-weight: 400;
  margin: 2.5rem 0;
}

body.dothq-is-home .landing-showoff {
  margin: 0 6rem;
  width: calc(100% - 6rem * 2);
  transform: translateY(-18vmin);
}

body.dothq-is-home #browser-ui {
  position: unset;
  height: auto;
  width: 100%;
  z-index: inherit;
}

body.dothq-is-home .privacy-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  margin: 0 auto;
  justify-content: center;
}

body.dothq-is-home .hero {
  background-color: var(--white);
}

body.dothq-is-home footer {
  background-color: black !important;
  border: none !important;
}

body.dothq-is-home #features {
  color: black;
}

body.dothq-is-home .logo-text {
  color: var(--gray-5);
}

body.dothq-is-home .footer-socials-header-override {
  color: white;
}
