.hmm-icon {
  background-image: url(../assets/hmm.svg);
  background-size: cover;
  width: 64px;
  height: 64px;
}

.cryhmm-icon {
  background-image: url(../assets/cryhmm.svg);
  background-size: cover;
  width: 64px;
  height: 64px;
}

.back-icon {
  background-image: url(../assets/back.svg);
  background-size: cover;
  width: 16px;
  height: 16px;
}

.home-icon {
  background-image: url(../assets/home.svg);
  background-size: cover;
  width: 16px;
  height: 16px;
}

.globe-icon {
  background-image: url(../assets/globe.svg);
  background-size: cover;
  width: 16px;
  height: 16px;
}

.download-icon {
  mask-image: url(../assets/download.svg);
  mask-size: cover;
  width: 16px;
  height: 16px;
  background-color: currentColor;
}

.forward-icon {
  background-image: url(../assets/back.svg);
  background-size: cover;
  width: 16px;
  height: 16px;
  transform: scale(-1);
}

.menu-icon {
  background-image: url(../assets/menu.svg);
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-right: 0 !important;
}

.twitter-icon {
  mask-image: url(../assets/footer/twitter.svg);
  mask-size: cover;
  width: 24px;
  height: 24px;
  display: flex;
  background-color: currentColor;
}

.github-icon {
  mask-image: url(../assets/footer/github.svg);
  mask-size: cover;
  width: 24px;
  height: 24px;
  display: flex;
  background-color: currentColor;
}

.discord-icon {
  mask-image: url(../assets/footer/discord.svg);
  mask-size: cover;
  width: 24px;
  height: 24px;
  display: flex;
  background-color: currentColor;
}

.matrix-icon {
  mask-image: url(../assets/footer/matrix.svg);
  mask-size: cover;
  width: 24px;
  height: 24px;
  display: flex;
  background-color: currentColor;
}

.youtube-icon {
  mask-image: url(../assets/footer/youtube.svg);
  mask-size: cover;
  width: 24px;
  height: 24px;
  display: flex;
  background-color: currentColor;
}

.dot-icon {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background-color: var(--colour);
  display: block;
}

.dot-browser-icon {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  box-shadow: inset 0px 0px 0px 6px var(--colour);
  display: block;
}

.windows-icon {
  background-image: url(../assets/os/windows.svg);
  background-size: cover !important;
  width: 16px !important;
  height: 16px !important;
}

.macos-icon {
  background-image: url(../assets/os/macos.svg);
  background-size: cover !important;
  width: 16px !important;
  height: 16px !important;
}

.linux-icon {
  background-image: url(../assets/os/linux.svg);
  background-size: cover !important;
  width: 16px !important;
  height: 16px !important;
}
.product-icon {
  width: 28px;
  height: 28px;
  display: block;
}

.browser-desktop-pi {
  background-image: url(../assets/product-icons/browser-desktop.svg);
  background-size: cover !important;
}

.browser-mobile-pi {
  background-image: url(../assets/product-icons/browser-mobile.svg);
  background-size: cover !important;
}

.dot-id-pi {
  background-image: url(../assets/product-icons/dot-id.svg);
  background-size: cover !important;
}

.dot-one-pi {
  background-image: url(../assets/product-icons/dot-one.svg);
  background-size: cover !important;
}

.dot-shield-pi {
  background-image: url(../assets/product-icons/dot-shield.svg);
  background-size: cover !important;
}

.compass-pi {
  background-image: url(../assets/product-icons/compass.svg);
  background-size: cover !important;
}

.down-icon {
  mask-image: url(http://localhost:3001/static/media/chevron-down.1432a59b.svg);
  width: 10px;
  height: 10px;
  mask-size: cover;
  background-color: currentColor;
  margin-left: 8px;
}

.dot-one-icon {
  mask-image: url(../assets/product-icons/dot-one.svg);
  mask-size: cover !important;
}

.dot-mobile-icon {
  mask-image: url(../assets/product-icons/mobile.svg);
  mask-size: cover !important;
}
