/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@use "a11y";
@use "drawer";
@use "items";
@use "logo";

.fdn-header {
	width: 100%;
	min-height: 4.5rem;
	background-color: var(--fdn-colours-white);
}

.fdn-header-container {
	margin: 0 auto;
	max-width: var(--fdn-content-width);
	height: inherit;
}

.fdn-header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 4.5rem;
	gap: 1.5rem;
	border-bottom: 1px solid var(--fdn-border-colour);
	margin: 0 0.5rem;
}

@media (min-width: 25rem) {
	.fdn-header-content {
		margin: 0 1rem;
	}

	.fdn-header-drawer {
		padding: 0 1rem;
	}

	#menu-close {
		--close-right: 1rem;
	}
}

@media (min-width: 15rem) {
	.fdn-header-content {
		margin: 0 1.5rem;
	}

	.fdn-header-drawer {
		padding: 0 1.5rem;
	}

	#menu-close {
		--close-right: 1.5rem;
	}
}

.fdn-header-content > * {
	flex: 1 1 0%;
}

.fdn-header-content hr {
	height: calc(4.5rem / 2);
}

.fdn-header-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

#menu-button {
	display: flex;
	align-items: center;
	color: var(--fdn-colours-black);
	height: 4.5rem;
}

@media (min-width: 52rem) {
	#menu-button {
		display: none;
	}
}

@media (max-width: 52rem) {
	.fdn-header-end > :not(#menu-button) {
		display: none;
	}

	.fdn-header .fdn-logo #wordtype {
		display: none;
	}
}
