<div id="navbar-{{id}}" class="fdn-navigation-drawer fdn-focus-none" tabindex="-1">
    <div class="fdn-navigation-drawer-container" tabindex="-1">
        <ul class="fdn-navigation-items" role="list">
            {% include "components/navbar/items.html" %}

            <li>
                <a id="donate-button" class="fdn-button blue full-width" href="{{ ctx.href("/donate") }}">Donate</a>
            </li>
        </ul>
        
        <a id="menu-close" class="fdn-button secondary has-icon" href="#menu-button">
            <i class="fdn-icon close">close</i>
        </a>
    </div>
</div>