/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.fdn-icon {
	display: flex;
	color: var(--bg-colour);
}

.fdn-icon.red {
	--bg-colour: var(--fdn-colours-red);
}

.fdn-icon.orange {
	--bg-colour: var(--fdn-colours-orange);
}

.fdn-icon.yellow {
	--bg-colour: var(--fdn-colours-yellow);
}

.fdn-icon.green {
	--bg-colour: var(--fdn-colours-green);
}

.fdn-icon.blue {
	--bg-colour: var(--fdn-colours-blue);
}

.fdn-icon.purple {
	--bg-colour: var(--fdn-colours-purple);
}

.fdn-icon.pink {
	--bg-colour: var(--fdn-colours-pink);
}

.fdn-icon.black {
	--bg-colour: var(--fdn-colours-black);
}
