/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@use "typography";

.fdn-main-content {
	display: flex;
	scroll-margin-top: 4.5rem;
	flex: 1;
	width: 100%;
}

.fdn-content > .fdn-content-container {
	padding: 0 0.5rem;
	max-width: var(--fdn-content-width);
	margin: 0 auto;
}

@media (min-width: 25rem) {
	.fdn-content > .fdn-content-container {
		padding: 0 1rem;
	}
}

@media (min-width: 15rem) {
	.fdn-content > .fdn-content-container {
		padding: 0 1.5rem;
	}
}

@media (min-width: 80rem) {
	.fdn-content > .fdn-content-container {
		max-width: 80rem;
	}
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
