/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Sizes */

.fdn-button.sm {
	--spacing-x: 0.75rem;
	--spacing-y: 0.4rem;
	--font-size: 0.8rem;
}

.fdn-button.md {
	--spacing-x: var(--default-btn-spacing-x);
	--spacing-y: var(--default-btn-spacing-y);
	--font-size: var(--default-btn-font-size);
}

.fdn-button.lg {
	--spacing-x: 2.4rem;
	--spacing-y: 1rem;
	--font-size: 2rem;
}

/* Colours */

.fdn-button.red {
	--bg-colour: var(--fdn-colours-red);
	--text-colour: var(--fdn-colours-white);
	--bg-active-colour-intensity: 0.2;
}

.fdn-button.orange {
	--bg-colour: var(--fdn-colours-orange);
	--text-colour: var(--fdn-colours-white);
	--bg-active-colour-intensity: 0.2;
}

.fdn-button.yellow {
	--bg-colour: var(--fdn-colours-yellow);
	--text-colour: var(--fdn-colours-black);
	--bg-active-colour-intensity: 0.2;
}

.fdn-button.green {
	--bg-colour: var(--fdn-colours-green);
	--text-colour: var(--fdn-colours-white);
	--bg-active-colour-intensity: 0.2;
}

.fdn-button.blue {
	--bg-colour: var(--fdn-colours-blue);
	--text-colour: var(--fdn-colours-white);
	--bg-active-colour-intensity: 0.2;
}

.fdn-button.purple {
	--bg-colour: var(--fdn-colours-purple);
	--text-colour: var(--fdn-colours-white);
	--bg-active-colour-intensity: 0.2;
}

.fdn-button.pink {
	--bg-colour: var(--fdn-colours-pink);
	--text-colour: var(--fdn-colours-white);
	--bg-active-colour-intensity: 0.2;
}

.fdn-button.black {
	--bg-colour: var(--fdn-colours-black);
	--text-colour: var(--fdn-colours-white);
	--bg-active-colour-intensity: 0.2;
}

/* Utilities */

.fdn-button.has-icon {
	--btn-spacing-x: var(--btn-spacing-y);
}

.fdn-button.full-width {
	width: 100%;
	text-align: center;
	justify-content: center;
}

.fdn-button.no-x-padding {
	--spacing-x: 0;
}

.fdn-button.no-y-padding {
	--spacing-y: 0;
}
