/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@use "sitemap";

.fdn-footer {
    width: 100%;
    background-color: var(--fdn-colours-white);
    border-top: 1px solid var(--fdn-border-colour);
	padding: 0 0.5rem;
}

.fdn-footer-container {
	margin: 0 auto;
	max-width: var(--fdn-content-width);
	height: inherit;
}

.fdn-footer-container > div {
	display: flex;
	justify-content: space-between;
}