/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.fdn-footer-sitemap {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: flex-end;
	gap: 2.5rem;
}

.fdn-footer-section {
	display: flex;
	flex-direction: column;
	gap: 1.15rem;
	min-width: 9.5rem;
}

.fdn-footer-section-list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.fdn-footer-section-title {
	color: var(--fdn-text-colour);
	font-weight: 700;
}

.fdn-footer-section-list-item {
	font-weight: 500;
}

.fdn-footer-section-list-item a {
	display: flex;
	color: var(--fdn-text-secondary-colour);
	text-decoration: none;
}

@media (max-width: 52rem) {
	.fdn-footer-sitemap {
		justify-content: flex-start;
	}
}
