<!DOCTYPE html>

<!-- prettier-ignore-attribute -->
<html
	lang="{{ l.locale() }}"
	class="no-js"
	prefix="og: https://ogp.me/ns#"
	itemscope="true"
	itemtype="http://schema.org/WebSite"
>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1"
		/>
		{% include "_meta.html" %}
		<title>
			{% block title %}{{ title }}{% endblock %} ― Dot HQ ({{
			l.str("language-short-code") }})
		</title>
	</head>

	<body>
		<div id="__scalar">
			{% block content %}{{ content }}{% endblock %}
		</div>
	</body>
</html>
