{%- import "utils/_resources.html" as sm -%}

<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>

<html
	lang="{{ ctx.l.locale() }}"
    dir="{{ ctx.l.chardir() }}"
	class="no-js"
	prefix="og: https://ogp.me/ns#"
	itemscope=""
	itemtype="http://schema.org/WebSite"
>
	<head>
		{% include "_meta.html" %}
		<title>
			{% block title %}{{ title }}{% endblock %} ― Dot HQ ({{
			ctx.l.str("language-short-code") }})
		</title>
        <!-- All our pages should work without JavaScript. 
           - If you believe this isn't the case, please file a 
           - bug report at https://github.com/dothq/scalar/issues/new 
           - and we will ensure this is resolved. -->
        {% call sm::import_js("scalar.js") %}
        {% call sm::import_css("scalar.css") %}
        {% block head %}{% endblock %}
	</head>

	<body>
		<div id="__scalar">
            {% include "components/navbar/index.html" %}

			{% block content %}{{ content }}{% endblock %}
		</div>
	</body>
</html>
