<meta name="google" content="notranslate" />
<meta name="url" itemprop="url" content="{{ l.host() }}" />
<meta name="identifier-url" content="{{ l.host() }}" />
<meta name="name" itemprop="name" content="Dot Browser" />
<meta name="application-name" content="Dot Browser" />
<meta
	name="copyright"
	content="{{ l.host() }}/{{ l.locale() }}/about/legal"
/>
<meta
	name="imprint"
	content="{{ l.host() }}/{{ l.locale() }}/about/legal"
/>
<meta name="robots" content="index,follow" />
<meta name="author" content="Dot HQ, support@dothq.co" />
<meta name="reply-to" content="support@dothq.co" />
<meta name="email" content="support@dothq.co" />
<meta name="owner" content="Dot HQ" />
<meta name="coverage" content="worldwide" />
<meta name="distribution" content="global" />
<meta name="rating" content="safe for kids" />
<meta
	name="isFamilyFriendly"
	itemprop="isFamilyFriendly"
	content="true"
/>
<meta name="apple-mobile-web-app-title" content="Dot HQ" />
<meta name="application-name" content="Dot Browser" />
<meta name="theme-color" content="#fefefe" />
<meta name="msapplication-TileColor" content="#fefefe" />
<meta
	name="msapplication-TileImage"
	content="/static/icons/144x144.png"
/>
<meta name="msapplication-config" content="/browserconfig.xml" />
<link rel="sitemap" href="/sitemap.xml" type="application/xml" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="canonical" href="https://www.dothq.co/" />
<link rel="home" href="https://www.dothq.co/" />
<link rel="start" href="https://www.dothq.co/" />
<link rel="index" href="https://www.dothq.co/sitemap.xml" />
<link rel="help" href="mailto:support@dothq.co" />
<link rel="copyright" href="{urlLegal}" />
<link rel="imprint" href="{urlLegal}" />

<link
	rel="shortcut icon"
	type="image/x-icon"
	href="/favicon.ico"
	sizes="16x16 24x24 32x32 64x64 128x128"
/>
<link
	rel="icon"
	type="image/svg+xml"
	sizes="any"
	href="/favicon.svg"
/>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/png" href="/static/icons/256x256.png" />
<link
	rel="icon"
	type="image/png"
	href="/static/icons/256x256.png"
	sizes="256x256"
/>
<link
	rel="icon"
	type="image/png"
	href="/static/icons/196x196.png"
	sizes="196x196"
/>
<link
	rel="icon"
	type="image/png"
	href="/static/icons/160x160.png"
	sizes="160x160"
/>
<link
	rel="icon"
	type="image/png"
	href="/static/icons/96x96.png"
	sizes="96x96"
/>
<link
	rel="icon"
	type="image/png"
	href="/static/icons/16x16.png"
	sizes="16x16"
/>
<link
	rel="icon"
	type="image/png"
	href="/static/icons/32x32.png"
	sizes="32x32"
/>
<link
	rel="image_src"
	itemprop="image"
	type="image/png"
	href="/static/icons/256x256.png"
/>
<link
	rel="apple-touch-icon"
	type="image/png"
	href="/static/icons/256x256.png"
/>
<link
	rel="apple-touch-icon"
	type="image/png"
	href="/static/icons/256x256.png"
	sizes="256x256"
/>
<link
	rel="apple-touch-icon"
	type="image/png"
	href="/static/icons/152x152.png"
	sizes="152x152"
/>
<link
	rel="apple-touch-icon"
	type="image/png"
	href="/static/icons/144x144.png"
	sizes="144x144"
/>
<link
	rel="apple-touch-icon"
	type="image/png"
	href="/static/icons/120x120.png"
	sizes="120x120"
/>
<link
	rel="apple-touch-icon"
	type="image/png"
	href="/static/icons/114x114.png"
	sizes="114x114"
/>
<link
	rel="apple-touch-icon"
	type="image/png"
	href="/static/icons/76x76.png"
	sizes="76x76"
/>
<link
	rel="apple-touch-icon"
	type="image/png"
	href="/static/icons/72x72.png"
	sizes="72x72"
/>
<link
	rel="apple-touch-icon"
	type="image/png"
	href="/static/icons/57x57.png"
	sizes="57x57"
/>
<link
	rel="fluid-icon"
	type="image/png"
	href="/static/icons/256x256.png"
	title="Dot HQ"
/>

<meta property="og:site_name" content="Dot HQ" />
<meta property="og:url" content="{url}" />
<meta property="og:type" content="website" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@DotBrowser" />
<meta name="twitter:creator" content="@DotBrowser" />
