@import 'styles/colours.css';
@import 'styles/icons.css';
@import 'styles/fonts.css';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: var(--colour-lighter);
  background-color: var(--background-color-secondary);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: -0.022em;
  color: var(--colour);
}

P {
  letter-spacing: -0.017em;
}

* {
  transition: var(--theme-change-transition);
}

a {
  outline: none;
}

a:not(.btn, .aexclude):hover,
a:not(.btn, .aexclude):focus {
  background-color: var(--dothq-blue);
  opacity: 1 !important;
  color: white !important;
}

a:not(.btn, .aexclude) {
  outline: none;
  color: var(--dothq-blue) !important;
  border-bottom: 2px solid var(--dothq-blue);
  text-decoration: none !important;
  font-weight: 500;
  width: max-content;
}

.aexclude {
  text-decoration: none;
}

.hero {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--background);
}

.hero-container {
  position: relative;
  background-color: var(--background);
  height: 100%;
}

.hero-content {
  max-width: 1650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

nav {
  position: relative;
  background-color: var(--background);
  box-shadow: 0px 1px 0px 0px var(--border);
  z-index: 1;
  width: 100%;
  background-color: transparent;
  border: none;
  box-shadow: none;
  z-index: 1000;
  margin-top: -100px;
}

nav:not(.nav-seamless, .mobile-nav) {
  margin-bottom: calc(100px + 2rem);
}

.motd {
  border-bottom: 1px solid var(--border);
  z-index: 2;
}

.motd > .nav-container {
  padding: 11.5px 0;
  justify-content: center;
  font-size: 14px;
  height: unset !important;
  text-align: center;
  min-height: 17px;
}

.motd > .nav-container > span > a {
  color: var(--text-primary);
  text-decoration: none;
}

.motd > .nav-container > span > a:hover {
  opacity: 0.6;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1650px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 18px 0;
}

.nav-left,
.nav-right,
.nav-center {
  display: flex;
  height: 64px;
  align-items: center;
  flex: 1;
}

.nav-center {
  justify-content: center;
  flex: inherit !important;
}

.nav-right {
  justify-content: flex-end;
}

.nav-items {
  list-style: none;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  color: var(--colour);
  padding: 0;
  height: 64px;
  margin: 0;
  user-select: none;
}

.nav-items > a {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  text-decoration: none;
  color: inherit;
  border-bottom: 4px solid transparent;
  transition: 0.1s ease border-bottom;
  position: relative;
}

.nav-items > a::after {
  content: '';
  background-color: transparent;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  width: 100%;
  height: 11px;
  top: 62px;
}

.nav-items > a:hover,
.nav-item-selected {
  opacity: 0.5;
}

.nav-items > a > svg {
  transition: 0.2s transform;
}

.nav-items > a:hover > svg,
.nav-item-selected > svg {
  transform: rotate(180deg);
}

.nav-items > a > button {
  user-select: none;
}

.nav-seamless {
  border: none;
  background-color: var(--background);
}

.btn {
  appearance: none;
  border-radius: 100px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  height: 40px;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  padding: 0 22px;
  width: inherit;
  justify-content: center;
  user-select: none;
  transition: 0.2s background-color, 0.2s color, 0.15s box-shadow, 0.15s border;
}

.btn-primary {
  background-color: var(--dothq-blue);
  color: var(--white);
  border: 3px solid transparent;
  transition: 0.2s background-color, 0.2s color, 0.15s box-shadow, 0.15s border;
}

.btn-primary:focus {
  border: 3px solid var(--dothq-blue) !important;
  box-shadow: inset 0px 0px 0px 3px var(--background);
}

.btn-primary:hover {
  background-color: var(--dothq-blue) !important;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.btn.btn-animate-icon > i {
  margin-left: 8px;
  transition: 0.2s transform;
}

.btn.btn-animate-icon:hover > i {
  transform: translateX(4px);
}

.btn-secondary {
  background-color: var(--dothq-blue-even-even-lighter);
  color: var(--dothq-blue);
  border: 3px solid transparent;
  transition: 0.2s background-color, 0.2s color, 0.15s box-shadow, 0.15s border;
}

.btn-secondary:focus {
  border: 3px solid var(--dothq-blue-even-lighter) !important;
  box-shadow: inset 0px 0px 0px 3px var(--background);
}

.btn-secondary:hover {
  background-color: var(--dothq-blue-even-even-lighter) !important;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.025) 0%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

.btn-text {
  background-color: transparent;
  color: var(--text-primary);
}

.btn-text:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.btn-primary:hover {
  background-color: var(--btn-primary-hover);
}

.btn-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.btn-has-custom-theme {
  background-color: var(--btn-bg);
}

.btn-has-custom-theme:focus {
  box-shadow: inset 0px 0px 0px 3px white;
}

.btn-has-custom-theme:hover {
  background-color: var(--btn-bg) !important;
  background-image: linear-gradient(
    rgba(85, 85, 85, 0.2) 0%,
    rgba(85, 85, 85, 0.2) 100%
  );
}

.hero-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero-center-horiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5rem;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  color: var(--colour-lighter);
}

.hero-vh {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-vh:not(.hero-ignore-mtop) {
  margin-top: calc(-100px + -2rem);
}

.hero-is-home {
  height: auto;
}

.hero-primary {
  background-color: var(--background);
}

.nav-nb {
  box-shadow: none;
}

nav.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1550px) {
  .nav-container,
  footer,
  .mobile-nav,
  .nav-step-header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  nav {
    display: none;
  }

  nav.motd {
    display: flex;
  }

  nav.mobile-nav {
    display: flex;
    flex-direction: column;
  }

  nav.mobile-nav > .nav-container {
    width: 100%;
    height: 100%;
  }
}

.nav-left > a:first-of-type {
  height: 64px;
  align-items: center;
  display: flex;
}

.mobile-nav > .nav-container > .nav-left,
.mobile-nav > .nav-container > .nav-right {
  width: 100vw;
}

.mobile-nav > .nav-container > .nav-right {
  justify-content: flex-end;
}

.mobile-nav {
  padding: 0 1.5rem;
}

.mobile-nav-items {
  width: inherit;
  margin-left: 0;
  padding-left: 0;
}

.mobile-nav-items > li {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0px 4px;
}

.mobile-nav-items > li:hover {
  color: var(--nav-hover);
  cursor: pointer;
}

.mobile-nav-items > li:hover > a::after {
  background-color: var(--nav-hover);
}

.mobile-nav-items > li > a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.mobile-nav-items > li > button {
  user-select: none;
}

.mobile-nav-items > li > a::after {
  content: '';
  width: 16px;
  height: 16px;
  mask-image: url(assets/back.svg);
  transform: scaleX(-1);
  background-color: var(--colour);
  mask-size: cover;
  mask-repeat: no-repeat;
  position: absolute;
  right: 0;
  margin-right: calc(1.5rem + 15px);
}

.mobile-nav-btn {
  width: auto;
}

.mobile-nav-btn > button {
  width: 100%;
}

.mobile-nav-btn > button > a {
  width: auto;
}

/* Helper classes */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gap {
  margin-bottom: 1rem;
}

.vgap {
  margin-left: 1rem;
}

/* Input elements */
input[type='name'],
input[type='text'],
input[type='password'],
input[type='email'] {
  background-color: var(--btn-secondary);
  color: var(--btn-secondary-color);
  padding: var(--padding, 10px 20px);
  border-radius: 8px;
  border: var(--border) 2px solid;
}

input[type='name']:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
  border-radius: 8px;
  border: var(--colour) 2px solid;
  outline: none;
}

.hero-bg-dot {
  background-image: radial-gradient(var(--background-dots) 1px, transparent 0),
    radial-gradient(var(--background-dots) 1px, transparent 0);
  background-repeat: repeat;
  background-size: cover;
  background-size: 40px 40px, 40px 40px;
  background-position: 0 0, 20px 20px;
}

.hero-has-sexy-gradient {
  background-image: var(--background-sexy);
}

.hero-has-sexy-gradient > .hero-container {
  background-color: transparent !important;
}

.hero-bg-black {
  background-color: black !important;
  color: var(--white) !important;
}

.nav-has-sexy-gradient {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
.nav-desktop-detachable {
  max-height: var(--detached-height);
  width: 100%;
  background-color: var(--background-color);
  position: absolute;
  left: 0px;
  height: 100vh;
  top: 64px;
  z-index: 11;
  box-shadow: none;
  padding: 0 !important;
  --detached-height: 350px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s transform ease, 0.1s opacity linear 0.1s;
  transform-origin: top center;
  transform: scaleY(0);
  overflow: hidden;
}

.nav-desktop-detachable > menu {
  display: none;
}

.nav-desktop-detachable.is-open > menu {
  display: flex;
}

.nav-desktop-detachable.is-open {
  opacity: 1;
  pointer-events: all;
  transform: scaleY(1);
  transition: 0.3s transform ease, 0s opacity linear 0.1s;
}

/* .nav-desktop-detachable > menu {
  transform: translateY(-10px);
  opacity: 0;
  transition: transform 0.1s, opacity 0.1s;
  transition-delay: 0s;
}

.nav-desktop-detachable.is-open > menu {
  transform: translateY(0px);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition-delay: 0.2s;
} */

.nav-desktop-detachable-coverup {
  backdrop-filter: blur(0px);
  width: 100%;
  position: absolute;
  left: 0;
  height: 100%;
  z-index: -4;
  opacity: 1;
  top: 100px;
  display: inline-flex;
  margin: 0;
  z-index: 1;
  background-color: #03030347;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s transform ease, 0.2s opacity ease,
    0.8s backdrop-filter ease 0.3s;
  transform-origin: top center;
  transform: scaleY(1);
}

.nav-desktop-detachable-coverup.is-open {
  opacity: 1;
  pointer-events: all;
  transform: scaleY(1);
  backdrop-filter: blur(4px);
  transition: 0.25s transform ease, 0.2s opacity linear 0.08s,
    0.8s backdrop-filter 0.15s;
}

.landing-showoff {
  z-index: 0;
}

.nav-nb {
  position: sticky;
  top: 0;
  z-index: 12;
}

.nav-item-faux-hovered {
  border-bottom: 2px solid var(--colour) !important;
}

.menu-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
}

select#language-switcher {
  background-color: white;
  border: none;
  outline: none;
  padding: 0 16px;
  border-radius: 6px;
  opacity: 1;
  color: black;
  min-width: 145px;
  height: 32px;
  font-family: inherit;
}

@keyframes fadeup {
  0% {
    transform: rotateX(-80deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.nav-desktop-menu {
  position: absolute;
  z-index: 100000;
  display: flex;
  width: 100%;
  top: 90px;
  left: calc((100% - 1650px) / 2);
  max-width: 1650px;
  display: flex;
  justify-content: center;
  transition: width 1s ease-in-out;
  width: 0%;
}

.nav-desktop-menu-container {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25),
    0px 18px 36px 5px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background-color: white;
  padding: 50px;
  display: flex;
  gap: 32px;
  transform: rotateX(-15deg);
  transform-origin: 50% -50px;
  transition: 250ms;
  transition-property: transform, width, opacity;
  will-change: transform, width, opacity;
  position: relative;
}

#gesture-cursor {
  width: 48px;
  height: 125px;
  border-radius: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
  position: relative;
  left: 45%;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 93.5%);
  animation: 3s gestureCursor1 ease infinite;
}

@keyframes gestureCursor1 {
  0% {
    transform: translateY(90%);
    opacity: 0;
  }
  25%,
  30%,
  35%,
  40%,
  45%,
  50% {
    transform: translateY(10%);
    opacity: 1;
  }
  70%,
  100% {
    transform: translateY(10%);
    opacity: 0;
  }
}
