@import 'styles/colours.css';
@import 'styles/icons.css';
@import 'styles/fonts.css';

html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: var(--color);
  background-color: var(--background-color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Eudoxus Sans';
}

* {
  transition: var(--theme-change-transition);
}

a {
  outline: none;
}

.hero {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero-container {
  position: relative;
  background-color: var(--background-color-secondary);
}

.hero-content {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

nav {
  position: relative;
  background-color: var(--nav-background-color);
  box-shadow: 0px 1px 0px 0px var(--border);
  z-index: 1;
  backdrop-filter: blur(12px);
}

.motd {
  border-bottom: 1px solid var(--border);
  z-index: 2;
}

.motd > .nav-container {
  padding: 11.5px 0;
  justify-content: center;
  font-size: 14px;
  height: unset !important;
  text-align: center;
  min-height: 17px;
}

.motd > .nav-container > span > a {
  color: var(--text-primary);
  text-decoration: none;
}

.motd > .nav-container > span > a:hover {
  opacity: 0.6;
}

.nav-container {
  max-width: 1300px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.nav-left,
.nav-right,
.nav-center {
  display: flex;
  height: 64px;
  align-items: center;
  flex: 1;
}

.nav-right {
  justify-content: flex-end;
}

.nav-center {
  /* @todo add actual nav items */
  display: none;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 12px;
  font-weight: 600;
  font-size: 15px;
  color: var(--color-disabled);
  padding: 0;
  height: 64px;
  margin: 0;
  user-select: none;
}

.nav-items > a {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0px 14px;
  text-decoration: none;
  color: inherit;
  border-bottom: 4px solid transparent;
  transition: 0.1s ease border-bottom, 0.2s color;
}

.nav-items > a:hover {
  border-bottom-color: var(--color);
  color: var(--color);
  cursor: pointer;
}

.nav-items > a > button {
  user-select: none;
}

.btn {
  appearance: none;
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  height: 46px;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  padding: var(--padding, 0px 30px);
  width: inherit;
  justify-content: center;
  user-select: none;
}

.btn-primary {
  background-color: var(--btn-primary);
  color: var(--btn-primary-color);
  border: 1px solid var(--btn-primary);
  transition: 0.2s background-color, 0.2s color;
}

.btn-primary:hover {
  background-color: var(--btn-primary-hover);
  color: var(--btn-primary-text-hover);
}

.btn-secondary {
  background-color: var(--btn-secondary);
  color: var(--color-disabled);
  border: 1px solid var(--border);
  transition: 0.2s border, 0.2s color;
}

.btn-secondary:hover {
  background-color: var(--btn-secondary);
  color: var(--color);
  border: 1px solid var(--color);
}

.btn-text {
  background-color: transparent;
  color: var(--text-primary);
}

.btn-text:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.btn-primary:hover {
  background-color: var(--btn-primary-hover);
}

.btn-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.hero-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.hero-center-horiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5rem;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
}

.hero-vh {
  height: calc(100vh - 64px - 40px);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-primary {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border);
}

.nav-nb {
  box-shadow: none;
}

nav.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1750px) {
  nav,
  footer,
  .hero-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  nav {
    display: none;
  }

  nav.motd {
    display: flex;
  }

  nav.mobile-nav {
    display: flex;
    flex-direction: column;
  }

  nav.mobile-nav > .nav-container {
    width: 100%;
    height: 100%;
  }
}

.nav-left > a:first-of-type {
  height: 64px;
  align-items: center;
  display: flex;
}

.mobile-nav > .nav-container > .nav-left,
.mobile-nav > .nav-container > .nav-right {
  width: 100vw;
}

.mobile-nav > .nav-container > .nav-right {
  justify-content: flex-end;
}

.mobile-nav {
  padding: 0 1.5rem;
}

.mobile-nav-items {
  width: inherit;
  margin-left: 0;
  padding-left: 0;
}

.mobile-nav-items > li {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0px 4px;
}

.mobile-nav-items > li:hover {
  color: var(--nav-hover);
  cursor: pointer;
}

.mobile-nav-items > li:hover > a::after {
  background-color: var(--nav-hover);
}

.mobile-nav-items > li > a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.mobile-nav-items > li > button {
  user-select: none;
}

.mobile-nav-items > li > a::after {
  content: '';
  width: 16px;
  height: 16px;
  mask-image: url(assets/back.svg);
  transform: scaleX(-1);
  background-color: var(--color);
  mask-size: cover;
  mask-repeat: no-repeat;
  position: absolute;
  right: 0;
  margin-right: calc(1.5rem + 15px);
}

.mobile-nav-btn {
  width: auto;
}

.mobile-nav-btn > button {
  width: 100%;
}

.mobile-nav-btn > button > a {
  width: auto;
}

/* Helper classes */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gap {
  margin-bottom: 1rem;
}

.vgap {
  margin-left: 1rem;
}

/* Input elements */
input[type='name'],
input[type='text'],
input[type='password'],
input[type='email'] {
  background-color: var(--btn-secondary);
  color: var(--btn-secondary-color);
  padding: var(--padding, 10px 20px);
  border-radius: 8px;
  border: var(--border) 2px solid;
}

input[type='name']:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
  border-radius: 8px;
  border: var(--color) 2px solid;
  outline: none;
}

.hero-bg-dot {
  background-image: radial-gradient(var(--background-dots) 1px, transparent 0),
    radial-gradient(var(--background-dots) 1px, transparent 0);
  background-repeat: repeat;
  background-size: cover;
  background-size: 40px 40px, 40px 40px;
  background-position: 0 0, 20px 20px;
}

.hero-has-sexy-gradient {
  background-image: var(--background-sexy);
}

.hero-has-sexy-gradient > .hero-container {
  background-color: transparent !important;
}

.nav-has-sexy-gradient {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
.nav-desktop-detachable {
  max-height: var(--detached-height);
  width: 100%;
  background-color: var(--background-color);
  position: absolute;
  left: 0px;
  height: 100vh;
  top: 64px;
  z-index: 11;
  box-shadow: none;
  padding: 0 !important;
  --detached-height: 350px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s transform ease, 0.1s opacity linear 0.1s;
  transform-origin: top center;
  transform: scaleY(0);
  overflow: hidden;
}

.nav-desktop-detachable > menu {
  display: none;
}

.nav-desktop-detachable.is-open > menu {
  display: flex;
}

.nav-desktop-detachable.is-open {
  opacity: 1;
  pointer-events: all;
  transform: scaleY(1);
  transition: 0.3s transform ease, 0s opacity linear 0.1s;
}

/* .nav-desktop-detachable > menu {
  transform: translateY(-10px);
  opacity: 0;
  transition: transform 0.1s, opacity 0.1s;
  transition-delay: 0s;
}

.nav-desktop-detachable.is-open > menu {
  transform: translateY(0px);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition-delay: 0.2s;
} */

.nav-desktop-detachable-coverup {
  backdrop-filter: blur(0px);
  width: 100%;
  position: absolute;
  left: 0;
  height: 100%;
  z-index: -4;
  opacity: 1;
  top: 100px;
  display: inline-flex;
  margin: 0;
  z-index: 1;
  background-color: #03030347;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s transform ease, 0.2s opacity ease,
    0.8s backdrop-filter ease 0.3s;
  transform-origin: top center;
  transform: scaleY(1);
}

.nav-desktop-detachable-coverup.is-open {
  opacity: 1;
  pointer-events: all;
  transform: scaleY(1);
  backdrop-filter: blur(4px);
  transition: 0.25s transform ease, 0.2s opacity linear 0.08s,
    0.8s backdrop-filter 0.15s;
}

.landing-showoff {
  z-index: 0;
}

.nav-nb {
  position: sticky;
  top: 0;
  z-index: 12;
}

.nav-item-faux-hovered {
  border-bottom: 2px solid var(--color) !important;
}

.menu-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
}
