/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Utility */
@use "utils/a11y";
@use "utils/reset";
@use "utils/fonts";

/* Components */
@use "components/footer";
@use "components/navbar";
@use "components/main";
@use "components/error";
@use "components/icons";
@use "components/button";
@use "components/flex";

/* Globals */
:root {
	/* Colours */
	--fdn-colours-red: hsl(0, 95%, 36%);
	--fdn-colours-orange: hsl(29, 90%, 53%);
	--fdn-colours-yellow: hsl(54, 100%, 48%);
	--fdn-colours-green: hsl(130, 100%, 20%);
	--fdn-colours-blue: hsl(209, 97%, 39%);
	--fdn-colours-purple: hsl(263, 95%, 40%);
	--fdn-colours-pink: hsl(317, 100%, 43%);
	--fdn-colours-black: hsl(216, 100%, 5%);
	--fdn-colours-white: hsl(255, 100%, 100%);
	--fdn-colours-pblack: hsl(0, 0%, 0%);
	--fdn-colours-link: hsl(209, 65%, 35%);
	--fdn-colours-visited-link: hsl(263, 65%, 35%);

	/* Text colours */
	--fdn-text-colour: hsl(180, 3%, 7%);
	--fdn-text-secondary-colour: hsl(225, 8%, 39%);

	/* Border colours */
	--fdn-border-colour: hsl(0, 0%, 87%);

	/* State colours */
	--fdn-success-colour: var(--fdn-colours-green);
	--fdn-error-colour: var(--fdn-colours-red);

	/* Fonts */
	--fdn-fonts-system: -apple-system, BlinkMacSystemFont, "Segoe UI",
		Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji";
	--fdn-fonts-heading: Satoshi, var(--fdn-fonts-system);
	--fdn-fonts-headingVar: Satoshi var, var(--fdn-fonts-system);
	--fdn-fonts-body: Inter, var(--fdn-fonts-system);
	--fdn-fonts-bodyVar: Inter var, var(--fdn-fonts-system);

	/* Sizing */
	--fdn-content-width: 68.75rem; /* 1100px */
}

/* Header-specific styles */
:root {
	--drawer-height: 20.5rem;
	--drawer-animation-length: 0.3s;
}

html {
	scrollbar-color: var(--fdn-border-colour) var(--fdn-colours-white);
}

body {
	color: var(--fdn-colours-black);
	background-color: var(--fdn-colours-white);
	font-family: var(--fdn-fonts-body);
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
a.fdn-button,
button {
	font-family: var(--fdn-fonts-heading);
}

@supports (font-variation-settings: normal) {
	body {
		font-family: var(--fdn-fonts-bodyVar);
	}

	h1,
	h2,
	h3,
	h4,
	h4,
	h5,
	h6,
	a.fdn-button,
	button {
		font-family: var(--fdn-fonts-headingVar);
	}
}

:focus-visible:not(.fdn-focus-none) {
	box-shadow: 0px 0px 0px 0.25rem var(--fdn-colours-white);
	outline: 2px solid var(--fdn-colours-blue);
	outline-offset: 0.25rem;
}

a {
	color: var(--fdn-colours-link);
}

main a:not(.fdn-not-visited):visited {
	color: var(--fdn-colours-visited-link);
}

[hidden] {
	display: none !important;
}

hr {
	width: 1px;
	margin: 0;
	border: 0;
	color: inherit;
	margin-block: 0;
	margin-inline: 0;
	background-color: var(--fdn-border-colour);
}
