@font-face {
    font-family: 'Karla';
    font-display: swap;
    src: url("../public/static/fonts/Karla.woff2") format("woff2");
}

@font-face {
    font-family: 'Satoshi';
    src: url('../public/static/fonts/Satoshi.woff2') format('woff2'),
        url('../public/static/fonts/Satoshi.woff') format('woff'),
        url('../public/static/fonts/Satoshi.ttf') format('truetype');
        font-weight: 300 900;
        font-display: swap;
        font-style: normal;
}

@keyframes slide-in {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%); 
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;